.follow_list {
  display: flex;
  flex-direction: column;
}

.follow_title {
  border: 2px solid black;
  font-size: 0.8rem;
  width: 100%;
}

.follow_user_list {
  gap: 0.5rem;
}

.show_more_button {
  color: var(--teal-500);
}
